RAD75BLACK/WebServiceDemo/WebContent/WEB-INF/wsdl/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://test.com" xmlns:impl="http://test.com" xmlns:intf="http://test.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="helloName" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloResponse">
     <wsdl:part element="impl:sayHelloResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="sayHelloRequest">
     <wsdl:part element="impl:sayHello" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="HelloWorld">
     <wsdl:operation name="sayHello">
       <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest"/>

       <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="sayHello">
       <wsdlsoap:operation soapAction="sayHello"/>

       <wsdl:input name="sayHelloRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="sayHelloResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="HelloWorldService">
     <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">
       <wsdlsoap:address location="http://localhost:10040/WebServiceDemo/services/HelloWorld"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>